[submodule "addons-oca/knowledge"]
	path = addons-oca/knowledge
	url = https://github.com/OCA/knowledge
[submodule "addons-oca/l10n-brazil"]
	path = addons-oca/l10n-brazil
	url = https://github.com/OCA/l10n-brazil
[submodule "addons-oca/project"]
	path = addons-oca/project
	url = https://github.com/OCA/project
[submodule "addons-oca/project-reporting"]
	path = addons-oca/project-reporting
	url = https://github.com/OCA/project-reporting
